body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  animation: loading-screen-overflow 3s forwards step-end; }

@keyframes loading-screen-overflow {
  to {
    overflow-y: auto; } }

a,
a:active {
  text-decoration: none;
  color: inherit; }

#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ffffff;
  animation: loading-screen 3s forwards step-end;
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes loading-screen {
  to {
    visibility: hidden; } }
  #loading i {
    font-size: 4em;
    animation: loading-heart-beating 1s infinite, loading-heart 0.5s calc(3s - 0.5s + 0.1s); }

@keyframes loading-heart-beating {
  0% {
    transform: scale(0.9); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.9); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.9); }
  100% {
    transform: scale(0.9); } }

@keyframes loading-heart {
  0% {
    font-weight: 900;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  30% {
    transform: scale(1.3); }
  100% {
    font-weight: 900;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0); } }

/* HEADER */
.app-header {
  width: 100vw;
  position: relative;
  padding: 1.8em 0 0.9em 0;
  font-family: "Shrikhand";
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 2px 3px #33333320;
  z-index: 1000; }
  .app-header-logo {
    height: 2em; }
  .app-header-return-button {
    position: absolute;
    left: 0.75em;
    top: 1em;
    padding: 0.5em;
    font-size: 1.2em; }

/* FOOTER */
.app-footer {
  padding: 1.5em 1.5em 2em 1.5em;
  background: #353535; }
  .app-footer-logo {
    height: 1.2em;
    margin-bottom: 1em; }
    @media (min-width: 1440px) {
      .app-footer-logo {
        margin-left: calc((100% - 65%) / 2); } }
  @media (min-width: 1440px) {
    .app-footer-links {
      width: 65%;
      margin: 0 auto; } }
  .app-footer-link {
    margin: 0.8em 0;
    color: #ffffff; }
    .app-footer-link-icon {
      width: 1em;
      margin-right: 0.5em; }
    .app-footer-link-text:hover {
      text-decoration: underline; }
