body {
    font-family: "Roboto", sans-serif;
}

a,
a:active {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.app-header {
    width: 100vw;

    position: relative;
    padding: 1.8em 0 0.9em 0;

    font-family: "Shrikhand";
    text-align: center;

    background: #ffffff;
    box-shadow: 0 0 2px 3px #33333320;

    z-index: 1000;
}

.app-header-logo {
    height: 2em;
}

.app-header-return-button {
    position: absolute;
    left: 0.75em;
    top: 1em;

    padding: 0.5em;

    font-size: 1.2em;
}

/* FOOTER */
.app-footer {
    padding: 1.5em 1.5em 2em 1.5em;
    background: #353535;
}

.app-footer-logo {
    height: 1.2em;
    margin-bottom: 1em;
}

.app-footer-link {
    margin: 0.8em 0;

    color: #ffffff;
}

.app-footer-link-icon {
    width: 1em;
    margin-right: 0.5em;
}

.app-footer-link-text:hover {
    text-decoration: underline;
}