body {
    background-color: #f6f6f6;
}

/* THUMBNAIL */
.menu-thumbnail {
    width: 100%;
}

/* MENU */
.menu {
    margin-top: -3em;
}

/* HEADER */
.menu-header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 1.75em;
    background-color: #f6f6f6;

    border-radius: 2em 2em 0 0;
}

.menu-header-title {
    font-family: "Shrikhand";
    font-size: 1.5em;
}

.menu-header-like-checkbox {
    display: none;
}

.menu-header-like-label {
    padding: 1em;
}

.menu-header-like-label i {
    font-size: 1.5em;

    cursor: pointer;
}

.menu-header-like-checkbox:checked+.menu-header-like-label i {
    font-weight: 900;

    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CATEGORY */
.menu-category {
    padding: 0 1.75em 2.5em 1.75em;
}

.menu-category-title {
    position: relative;

    padding-bottom: 0.5rem;

    text-transform: uppercase;
    font-weight: 300;
}

.menu-category-title:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 2.75em;
    height: 0.2em;

    background-color: #99e2d0;
}

/* CATEGORY CARDS */
.menu-category-card {
    position: relative;

    margin-top: 1em;
    padding: 1em;

    border-radius: 1em;

    background-color: #ffffff;
    box-shadow: 0.25em 0.25em 0.5rem #00000020;
}

.menu-category-card-meal {
    font-weight: 600;
}

.menu-category-card-data {
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-category-card-description {
    margin-top: 0.5em;

    font-size: 0.9em;
    font-weight: 300;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-category-card-price {
    padding-left: 2em;

    font-size: 0.9em;
    font-weight: 600;
}

/* ORDER BUTTON */
.menu-order-button {
    margin: 0 auto 2.5em auto;
    padding: 1em 1.5em;

    display: block;
    width: 8em;

    text-align: center;
    font-weight: 500;
    color: #fff;

    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0 0.2em 10px #00000060;
    border-radius: 100px;

    cursor: pointer;
}