@import "theme.scss";
@import "mixins.scss";

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

a,
a:active {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.app-header {
    width: 100vw;

    position: relative;
    padding: 1.8em 0 0.9em 0;

    font-family: "Shrikhand";
    text-align: center;

    background: $white;
    box-shadow: 0 0 2px 3px #33333320;

    z-index: 1000;

    &-logo {
        height: 2em;
    }

    &-return-button {
        position: absolute;
        left: 0.75em;
        top: 1em;
    
        padding: 0.5em;
    
        font-size: 1.2em;
    }
}

/* FOOTER */
.app-footer {
    padding: 1.5em 1.5em 2em 1.5em;
    background: #353535;

    &-logo {
        height: 1.2em;
        margin-bottom: 1em;

        @include xl {
            margin-left: calc((100% - #{$xl-width}) / 2);
        }
    }

    &-links {
        @include xl {
            width: $xl-width;
            margin: 0 auto;
        }
    }

    &-link {
        margin: 0.8em 0;
    
        color: #ffffff;

        &-icon {
            width: 1em;
            margin-right: 0.5em;
        }

        &-text:hover {
            text-decoration: underline;
        }
    }
}