@import "theme.scss";

/* LOCATION */
.location {
    padding: 1em;

    background-color: #eaeaea;
    color: #353535;
    text-align: center;

    z-index: -1;

    &-text {
        margin-left: 0.7em;
    
        font-weight: 500;
    }
}

/* PRESENTATION */
.presentation {
    padding: 3em 2em 4em 2em;

    text-align: center;

    background-color: #f6f6f6;

    &-title {
        font-size: 1.5em;
        font-weight: 800;
    }

    &-text {
        margin: 0.8em 0 2.5em 0;
    
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.2em;
    }

    &-button {
        padding: 1em 1.5em;
    
        font-weight: 500;
    
        border-radius: 100px;
    
        color: #ffffff;
        background: linear-gradient($secondary, $primary);
        box-shadow: 0 0.2em 10px #00000060;
    
        cursor: pointer;
    }
}

/* TUTORIAL */
.tutorial {
    padding: 2em 1em;

    counter-reset: tutorial_card_index;

    &-title {
        font-size: 1.5em;
        font-weight: 800;
    }

    &-cards {
        padding: 1em 0.2em 2em 1em;
    }

    &-card {
        position: relative;
    
        margin-top: 1em;
        padding: 1.5em 2em;
    
        border-radius: 1.25em;
    
        background-color: #f6f6f6;
        box-shadow: 0.25em 0.25em 0.5rem #00000020;

        &::before {
            counter-increment: tutorial_card_index;
            content: counter(tutorial_card_index);
        
            position: absolute;
            left: -0.75em;
            top: 1.5em;
        
            width: 1.4em;
            height: 1.4em;
        
            color: #ffffff;
            background: $primary;
            border-radius: 100%;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-icon {
            width: 1em;
            margin-right: 1em;
        
            color: #7e7e7e;
        }

        &-text {
            font-weight: 500;
        }
    }
}

/* RESTAURANTS */
.restaurants {
    padding: 2.5em 1em 4em 1em;

    background-color: #f6f6f6;

    &-title {
        font-size: 1.5em;
        font-weight: 800;
    }

    & .restaurant-card {
        margin-top: 2em;
    
        position: relative;
        display: block;
    
        border-radius: 1em;
        background-color: #ffffff;
        box-shadow: 0.25em 0.25em 0.75em #0000001a;
    
        &-image {
            height: 11em;
            width: 100%;
        
            border-radius: 1em 1em 0 0;
        
            object-fit: cover;
        }
    
        &-badge {
            position: absolute;
            top: 0.75em;
            right: 0.75em;
        
            padding: 0.5rem;
        
            font-weight: 500;
            font-size: 0.9em;
            color: #008766;
        
            background-color: $tertiary;
            border-radius: 0.1em;
        }
    
        &-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            padding: 0.25em 0 0.25em 1em;
        }
    
        &-name {
            margin-bottom: 0.3em;
        
            font-weight: 700;
            font-size: 1.2em;
        }
    
        &-location {
            font-weight: 300;
            font-size: 1.1em;
        }
    
        .restaurant-card-like {
            &-checkbox {
                display: none;
            }
    
            &-label {
                padding: 1em;
    
                & i {
                    font-size: 1.5em;
                
                    cursor: pointer;
                }
            }
        }
    }
}

.restaurant-card-like-checkbox:checked+.restaurant-card-like-label i {
    font-weight: 900;

    background: linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}