@import "theme.scss";

.like {
    position: relative;

    margin: 1em;

    & i {
        font-size: 1.5em;
    }

    &-fill {
        position: absolute;
        left: 0;

        cursor: pointer;

        background-position: 0 100%;
        background-size: 100% 0%;
        transition: background-size 0.4s ease-in-out;

        transform: scale(1.065);

        font-weight: 900 !important;

        background-image: linear-gradient($primary 0%, $secondary 100%);
        background-repeat: no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            background-size: 100% 100%;
        }
    }
}