@import "theme.scss";

body {
    background-color: #f6f6f6;
}

/* MENU */
.menu {
    margin-top: -3em;

    &-thumbnail {
        width: 100%;
    }

    &-header {
        position: relative;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 1em 1.75em;
        background-color: #f6f6f6;
    
        border-radius: 2em 2em 0 0;

        &-title {
            font-family: "Shrikhand";
            font-size: 1.5em;
        }

        &-like-checkbox {
            &-checkbox {
                display: none;

                &:checked+.menu-header-like-label i {
                    font-weight: 900;
                
                    background: linear-gradient($primary, $secondary);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &-label {
                padding: 1em;

                & i {
                    font-size: 1.5em;
                
                    cursor: pointer;
                }
            }
        }
    }

    &-category {
        padding: 0 1.75em 2.5em 1.75em;
    
        &-title {
            position: relative;
        
            padding-bottom: 0.5rem;
        
            text-transform: uppercase;
            font-weight: 300;
    
            /* WATCH HERE :after -> ::after */
            &::after {
                content: "";
            
                position: absolute;
                left: 0;
                bottom: 0;
            
                width: 2.75em;
                height: 0.2em;
            
                background-color: $tertiary;
            }
    
            &-card {
                position: relative;
            
                margin-top: 1em;
                padding: 1em;
            
                border-radius: 1em;
            
                background-color: #ffffff;
                box-shadow: 0.25em 0.25em 0.5rem #00000020;
    
                &-meal {
                    font-weight: 600;
                }
    
                &-data {
                    overflow: hidden;
                
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                }
    
                &-description {
                    margin-top: 0.5em;
                
                    font-size: 0.9em;
                    font-weight: 300;
                
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
    
                &-price {
                    padding-left: 2em;
                
                    font-size: 0.9em;
                    font-weight: 600;
                }
            }
        }
    }

    &-order-button {
        margin: 0 auto 2.5em auto;
        padding: 1em 1.5em;
    
        display: block;
        width: 8em;
    
        text-align: center;
        font-weight: 500;
        color: #fff;
    
        background: linear-gradient($secondary, $primary);
        box-shadow: 0 0.2em 10px #00000060;
        border-radius: 100px;
    
        cursor: pointer;
    }
}