@import "theme.scss";
@import "mixins.scss";

body {
    background-color: $white;
}

/* MENU */
.menu {
    margin-top: -3em;

    background-color: $light-gray;

    @include xl {
        width: $xl-width;

        margin-right: auto;
        margin-left: auto;
    }

    &-thumbnail {
        width: 100%;

        max-width: 100%;
        max-height: 28em;

        object-fit: cover;
    }

    &-header {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1em 1.75em;
        background-color: #f6f6f6;

        border-radius: 2em 2em 0 0;

        &-title {
            font-family: "Shrikhand";
            font-size: 1.5em;
        }
    }

    &-categories {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding: 0 1.75em 1.75em 1.75em;

        @include lg {
            flex-direction: row;
        }
    }

    &-category {
        margin-top: 2em;
        width: 100%;

        @for $i from 1 to 10 {
            & article:nth-of-type(#{$i}) {
                animation-delay: calc(0.2s * #{$i});
            }
        }

        @include lg {
            width: 32%;
        }

        &-title {
            position: relative;

            padding-bottom: 0.5rem;

            text-transform: uppercase;
            font-weight: 300;

            /* WATCH HERE :after -> ::after */
            &::after {
                content: "";

                position: absolute;
                left: 0;
                bottom: 0;

                width: 2.75em;
                height: 0.2em;

                background-color: $tertiary;
            }
        }

        &-card {
            margin-top: 1em;

            border-radius: 1em;

            background-color: $white;
            box-shadow: 0.25em 0.25em 0.5em #00000020;

            opacity: 0;
            animation: fade-in 0.35s ease-in forwards;

            display: flex;
            justify-content: space-between;

            overflow: hidden;

            cursor: pointer;

            @keyframes fade-in {
                from {
                    opacity: 0;
                    transform: translateY(10px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &-body {
                flex: 1;
                padding: 1em;

                width: calc(100% - 10em);
            }

            &-meal {
                font-weight: 600;
            }

            &-data {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                div {
                    /* https://bugzilla.mozilla.org/show_bug.cgi?id=1086218#c4 */
                    min-width: 0;
                }
            }

            &-description {
                margin-top: 0.5em;

                font-size: 0.9em;
                font-weight: 300;
            }

            &-price {
                padding-left: 1em;

                font-size: 0.9em;
                font-weight: 600;
            }

            &:hover &-selector {
                width: 5em;

                & i {
                    transform: rotateZ(360deg);

                    transition: transform 0.3s linear;
                }
            }

            &-selector {
                width: 0em;

                background: $tertiary;

                border-radius: 0 1em 1em 0;
                transition: width 0.3s linear;

                cursor: pointer;

                i {
                    font-size: 1.75em;
                    color: #ffffff;

                    margin-left: calc(40px - 14px);

                    line-height: 70px;
                    vertical-align: middle;

                    transition: none;
                }
            }

            input[type="checkbox"] {
                display: none;

                &:checked+.menu-category-card-selector {
                    width: 5em;

                    i {
                        transition: none !important;
                    }
                }
            }
        }
    }

    &-order {
        width: 100%;

        margin: 0 auto;
        padding: 0.5em 0 2.5em 0;

        background-color: #f6f6f6;

        @include xl {
            width: $xl-width;
        }

        &-button {
            margin: 0 auto;
            padding: 1em 1.5em;

            display: block;
            width: 8em;

            text-align: center;
            font-weight: 500;
            color: #fff;

            background: linear-gradient($secondary, $primary);
            box-shadow: 0 0.2em 10px #00000060;
            border-radius: 100px;

            cursor: pointer;
        }
    }
}