@import "theme.scss";
@import "mixins.scss";

body {
    background-color: #ffffff;
}

/* MENU */
.menu {
    margin-top: -3em;

    background-color: #f6f6f6;

    @include xl {
        width: $xl-width;

        margin-right: auto;
        margin-left: auto;
    }

    &-thumbnail {
        width: 100%;
    }

    &-header {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1em 1.75em;
        background-color: #f6f6f6;

        border-radius: 2em 2em 0 0;

        &-title {
            font-family: "Shrikhand";
            font-size: 1.5em;
        }

        &-like {
            &-checkbox {
                display: none;

                &:checked+.menu-header-like-label i {
                    font-weight: 900;

                    background: linear-gradient($primary, $secondary);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &-label {
                padding: 1em;

                & i {
                    font-size: 1.5em;

                    cursor: pointer;
                }
            }
        }
    }

    &-categories {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding: 0 1.75em 1.75em 1.75em;

        @include lg {
            flex-direction: row;
        }
    }

    &-category {
        margin-top: 2em;
        width: 100%;

        @include lg {
            width: 32%;
        }

        &-title {
            position: relative;

            padding-bottom: 0.5rem;

            text-transform: uppercase;
            font-weight: 300;

            /* WATCH HERE :after -> ::after */
            &::after {
                content: "";

                position: absolute;
                left: 0;
                bottom: 0;

                width: 2.75em;
                height: 0.2em;

                background-color: $tertiary;
            }
        }

        &-card {
            margin-top: 1em;
            padding: 1em;

            border-radius: 1em;

            background-color: #ffffff;
            box-shadow: 0.25em 0.25em 0.5rem #00000020;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &-meal {
                font-weight: 600;
            }

            &-data {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                div {
                    /* https://bugzilla.mozilla.org/show_bug.cgi?id=1086218#c4 */
                    min-width: 0;
                }
            }

            &-description {
                margin-top: 0.5em;

                font-size: 0.9em;
                font-weight: 300;
            }

            &-price {
                padding-left: 2em;

                font-size: 0.9em;
                font-weight: 600;
            }
        }
    }

    &-order {
        width: 100%;

        margin: 0 auto;
        padding: 0.5em 0 2.5em 0;

        background-color: #f6f6f6;

        @include xl {
            width: $xl-width;
        }

        &-button {
            margin: 0 auto;
            padding: 1em 1.5em;

            display: block;
            width: 8em;

            text-align: center;
            font-weight: 500;
            color: #fff;

            background: linear-gradient($secondary, $primary);
            box-shadow: 0 0.2em 10px #00000060;
            border-radius: 100px;

            cursor: pointer;
        }
    }
}